cocos2d-x-3.5
/IOS/OREIMO/cocosstudio
/IOS/OREIMO/Resources
/IOS/OREIMO/proj.android
/IOS/OREIMO/proj.android-studio
/IOS/OREIMO/proj.ios_mac
/IOS/OREIMO/proj.linux
/IOS/OREIMO/proj.win8.1-universal
/IOS/OREIMO/proj.win10
/IOS/OREIMO/proj.win32
